<footer>
    <a href="/">
      <span class="about-text">About</span> 
      <img src="/images/Teamrocket.png" alt="TeamRocket" class="teamrocket"></a>
    <a href="/">
    <span class="faq-text">FAQ</span>
    <img src="/images/Derp.png" alt="Mimikyu" class="derp">
    </a>
  <p class="note">&copy; 2024 UTA BOOTCAMP - Pokémon Card Collection Project</p>
</footer>
