<header class="header">
  <div class="logo">
    <h1>Team Rocket's Warehouse Collection</h1>
  </div>
  <nav class="nav">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/about">About</a>
    <a href="/faq">FAQ</a>
  </nav>
  <div class="nav">
    <a href="/login" class="btn login-signup-btn">Login or Signup</a>
  </div>
</header>
