<header class="header">
  <div class="logo">
    <h1>Team Rocket's Warehouse</h1>
  </div>
  <nav class="nav">
    <a href="/">
      <span class="home-text">Home</span>
      <img src="/images/Pokeball.png" alt="Pokéball" class="home-pokeball">
    </a>
    {{#if loggedIn}}
    <a href="/profile" class="profile-text">Profile
      <img src="/images/Masterball.png" alt="Masterball" class="profile-masterball"></a>
    {{/if}}
  </nav>
  <div class="nav">
    {{#if loggedIn}}
    <a href="/" class="btn-logout" id="logout">Logout
      <img src="/images/Mewtwo.png" alt="Mewtwo" class="logout-mewtwo"></a>
    {{else}}
    <a href="/login" class="btn login-signup-btn">Login or Signup
      <img src="/images/Ultraball.png" alt="Ultraball" class="login-signup-ultraball">
    </a>
    {{/if}}
  </div>
</header>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}