{{> header}}

<section class="card-grid">
  {{#each cards}}
    {{> pokemon-card 
      imageUrl=this.imageUrl
      name=this.pokemon
      type=this.type
      hp=this.hp
      condition=this.condition
      price=this.price
    }}
  {{/each}}
</section>

{{> footer}}
