{{> header}}

<section>
  <h2>Welcome to the Pokémon Card Collection</h2>
  <div class="grid">
    {{#each forTradeCards}}
      {{> pokemon-card}}
    {{/each}}
    {{#each forSaleCards}}
      {{> pokemon-card  parameter=1}}
    {{/each}}
  </div>
</section>

{{> footer}}
