{{> header}}

<section>
  <h2>Featured Collection</h2>
  <div class="grid">
    {{#each forTradeCards}}
      {{> pokemon-card}}
    {{/each}}
    {{#each forSaleCards}}
      {{> pokemon-card  parameter=1}}
    {{/each}}
  </div>
</section>

{{> footer}}

<script src="./js/main.js"></script>
<script src="./js/buy.js"></script>