body {
  font-family: Arial, sans-serif;
  background-image: url('/css/Background-wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* ABOUT PAGE CSS */
.about-section {
  padding: 20px 0;
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  row-gap: 60px;
  justify-items: center;
  align-items: start;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  font-size: 18px;
  margin-bottom: 2px;
}

.role-text p {
  margin: 0;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: -55px;
}

.team-member {
  width: 175px; 
  height: 300px;
  background: url('/images/gameboy-background.png') no-repeat center center;
  background-size: contain;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.team-portrait {
  width: 80px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alejandro .team-portrait {
  width: 70px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.christopher .team-portrait {
  width: 55px;
  top: 26%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.mariana .team-portrait {
  width: 65px;
  top: 25%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.conor .team-portrait {
  width: 60px;
  left: 50%;
  top: 71px;
  transform: translate(-50%, -50%);
}

.bio-text {
  margin-top: 20px;
  padding: 15px;
  font-size: 14px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  border-radius: 5px;
  width: 220px;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.alejandro {
  margin-top: 40px;
}

.christopher {
  margin-top: 50px;
}

.mariana {
  margin-top: 60px;
}

.conor {
  margin-top: 55px;
}

/* FAQ PAGE CSS */

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-item {
  margin-bottom: 20px;
  padding: 15px;
  border:transparent;
  border-radius: 5px;
  background-color:transparent;
  width: 80%;
  text-align: center;
}

.faq-gif {
  width: 200px !important;
  height: 200px !important;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
}

p {
  color: aliceblue;
  font-size: 16px;
  margin-bottom: 15px;
}
