body {
  font-family: Arial, sans-serif;
  background-image: url(Background-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.pokemon-card-container {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}
h1 {
  text-shadow: 3.5px 3.5px rgb(21, 71, 16);
  color: rgba(255, 255, 0, 0.777);
  text-align: center;
}
h2 {
  color: rgba(255, 255, 0, 0.777);
  text-align: center;
}