body {
  font-family: Arial, sans-serif;
  background-image: url(Background-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.pokemon-card-container {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  display: inline-block;
}
h1 {
  text-shadow: 3.5px 3.5px rgb(21, 71, 16);
  color: rgba(255, 255, 0, 0.777);
  text-align: center;
}
h2 {
  color: rgba(250, 250, 250, 0.777);
  position:relative; 
  margin-top:10%; 
  margin-left:revert; 
  margin-right:auto;
  font-size: 27px;
  background-image: linear-gradient(black,rgb(63, 63, 76));

}

.home-pokeball {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: relative;
}
.home-text {
  font-size: 30px;
  color: rgba(255, 255, 0, 0.777);
  margin-right: 10px;
  text-align: center;
  position: relative;
}
.login-signup-ultraball {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: relative;
}
.login-signup-btn {
  font-size: 30px;
  color: rgba(255, 255, 0, 0.777);
  margin-left: 10px;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
}

.login-signup-btn {
  float: right;


}
.pokemon-card-details {
  font-style: oblique;
  font-family: 'fantasy', 'copper-plate';
  color:rgb(0, 14, 14);
  background-image: linear-gradient(yellow, red);
  padding-top: 2px;
  border-radius: 1.75%;
}
button {
  margin-left: 20px;
  margin-bottom: 2px;
}
section {
  display:contents;
  justify-content: space-evenly;
}
.about-text {
  float: left;
  text-align: justify;
  font-size: 30px;
  color: aliceblue;
  align-items:normal;
}
.faq-text {
  float:right;
  text-align: justify;
  font-size: 30px;
  color:aliceblue;
  margin-left: 2px;
}
.derp {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  float: inline-end;
  margin-left: 2px;
}

.teamrocket {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  float: inline-start;

}
.note {
  color:aliceblue;
  text-align: center;

}
.profile-masterball {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: relative;
}
.profile-text {
  font-size: 30px;
  color: rgba(255, 255, 0, 0.777);
  margin-left: 10px;
  text-align: center;
  position: relative;
  float: inline-end;
}

.btn-logout {
position: absolute;
top: 125px;
right: 16px;
margin-top: 10px;
font-size: 20px;
color: rgba(255, 255, 0, 0.777);
margin-left: 10px;
text-align: center;
}
.logout-mewtwo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  position: relative;
  float: left;
  
}